[Unit]
Description=dabcast %i
After=multi-user.target

[Service]
Type=simple
User=gus
Restart=always
RestartSec=10
ExecStart=/bin/bash -c '/opt/dvbstream/dabcast.sh %i >> /var/log/dvbstream/dabcast-%i.log 2>&1'

[Install]
WantedBy=multi-user.target

