[Unit]
Description=dvblast %I
After=multi-user.target

[Service]
Type=simple
User=pi
Restart=always
RestartSec=10
ExecStart=/bin/bash -c '/opt/dvbstream/dvblast.sh %I >> /opt/dvbstream/log/dvblast-%I.log 2>&1'

[Install]
WantedBy=multi-user.target

