[Unit]
Description=mumudvb %I
After=multi-user.target

[Service]
Type=simple
User=_mumudvb
Restart=always
RestartSec=10
ExecStart=/bin/bash -c '/opt/dvbstream/mumudvb.sh %I >> /opt/dvbstream/log/mumudvb-%I.log 2>&1'

[Install]
WantedBy=multi-user.target

