[Unit]
Description=dvblast %I
After=multi-user.target

[Service]
Type=simple
User=pi
Restart=always
RestartSec=10
ExecStart=/bin/bash -c '/home/pi/workspace/dvbstream/dvblast.sh %i >> /home/pi/workspace/dvbstream/log/dvblast-%i.log 2>&1'

[Install]
WantedBy=multi-user.target

